<%- include("templates/encabezado.ejs", {titulo:""})%>

<style>
body {
  font-family: 'Open Sans', sans-serif;
  margin: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://i.pinimg.com/originals/ec/c7/a4/ecc7a4f021aab13bf5197543d291adf7.jpg");
}
.titulo-animado {
  text-align: center;
  margin-top: 60px;
  position: relative;
}

.titulo-animado h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #D94392;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  margin: 10px;
}

.rev-block {
  position: relative;
}

.rev-block span {
  opacity: 0;
  animation: appear-text 0.0001s linear forwards;
  animation-delay: 1.4s;
}

.rev-block:after {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 100%;
  background: #00f0b5;
  animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  animation-delay: 1s;
}

#onemore span {
  animation-delay: 2s;
}

#onemore.rev-block:after {
  background: #5e239d;
  animation-delay: 1.4s;
}

@keyframes rev-block {
  0% { left: 0; width: 0%; }
  50% { left: 0; width: 100%; }
  100% { left: 100%; width: 0%; }
}

@keyframes appear-text {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media only screen and (max-width: 900px) {
  .titulo-animado h1 {
    font-size: 28px;
  }
}
.platos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 100px; /* separa recetas del título */
}

.receta {
  background-color: white;
  width: 450px;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
  text-align: center;
}

h2 {
  color: #333;
}

ul, ol {
  text-align: left;
  margin-left: 30px;
}

iframe {
  width: 100%;
  height: 300px;
  border-radius: 15px;
}
</style>
<div class="titulo-animado">
  <h1 class="rev-block"><span>Bienvenido a</span></h1>
  <h1 class="rev-block" id="onemore"><span>Cookland</span></h1>
</div>

<div class="platos">
  <div class="receta">
    <h1>Muffins sin azúcar</h1>
    <br>
    <h2>Ingredientes</h2>
    <ul>
      <li>2 Bananas</li>
      <li>1 Huevo</li>
      <li>3-4 sobresitos stevia</li>
      <li>3/4 Tazas de Harina integral</li>
      <li>1/2 Taza de Harina 0000</li>
      <li>1 Cdita. de polvo para hornear</li>
      <li>1 Cdita. de canela</li>
      <li>1/3 de Taza de aceite</li>
    </ul>
    <h2>Procedimiento</h2>
    <ol>
      <li>Pisar las bananas.</li>
      <li>Tirar un huevo y unir con las bananas.</li>
      <li>Poner 3-4 sobresitos de stevia.</li>
      <li>Agregar harina integral y mezclar.</li>
      <li>Agregar harina común y polvo para hornear.</li>
      <li>Agregar aceite neutro.</li>
      <li>Añadir canela y mezclar.</li>
      <li>Hornear a 180° durante 40 minutos.</li>
    </ol>
    <h2>Video de referencia</h2>
    <iframe src="https://www.youtube.com/embed/TelEe8W5U6M" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="receta">
    <h1>Papas al horno crocantes</h1>
    <br>
    <h2>Ingredientes</h2>
    <ul>
      <li>Papas</li>
      <li>Sal a gusto</li>
      <li>1 Diente de Ajo</li>
      <li>Polenta</li>
      <li>Aceite de Oliva</li>
      <li>Ajo en polvo a gusto</li>
    </ul>
    <h2>Procedimiento</h2>
    <ol>
      <li>Lavar y cortar las papas en cuña.</li>
      <li>Colocar en fuente para horno.</li>
      <li>Agregar sal, ajo picado, polenta y aceite de oliva.</li>
      <li>Hornear 5 minutos a fuego alto, luego reducir y cocinar hasta dorar.</li>
    </ol>
    <h2>Video de referencia</h2>
    <iframe src="https://www.youtube.com/embed/OqD5GVURXTA" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<%- include("templates/pie.ejs") %>
